<section fxLayout fxLayoutAlign="center" fxLayoutGap="50px" class="search-section"> 

    <mat-card routerLink="/search/casinos" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header>
        <mat-card-title>Casino</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/casino.jpg" alt="Photo of Casino"> 
    <mat-card-subtitle>{{getNumberOfPlaces('casino')}} Casinos in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/parks" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Parks</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/park.jpg" alt="Photo of Park">
    <mat-card-subtitle>{{getNumberOfPlaces('park')}} Parks in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/pubs" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Pubs</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/pub.jpg" alt="Photo of Pub">
    <mat-card-subtitle>{{getNumberOfPlaces('pubs')}} Pubs in you area</mat-card-subtitle>
  </mat-card>
  </section>

  <section fxLayout fxLayoutAlign="center" fxLayoutGap="50px"> 
    

  <mat-card routerLink="/search/restaurants" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Restaurants</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/restaurant.jpg" alt="Photo of Restaurant">
    <mat-card-subtitle>{{getNumberOfPlaces('restaurant')}} Restaurants in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/zoos" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Zoo's</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/zoo.jpg" alt="Photo of Zoo">
    <mat-card-subtitle>{{getNumberOfPlaces('zoo')}} Zoo's in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/coffee-shops" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Coffee Shops</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/coffe-shop.jpg" alt="Photo of Coofe shop">
    <mat-card-subtitle>{{getNumberOfPlaces('coffe shop')}} Coffee Shops in you area</mat-card-subtitle>
  </mat-card>

  </section>

  