<section fxLayout fxLayoutAlign="center"  class="search-section" > 
    
  <mat-card routerLink="/search/hotels" class="example-card" fxFlex="300px"appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>hotels</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/hotel.jpg" alt="Photo of Park">
    <mat-card-subtitle>35 Hotels in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/apartments" class="example-card" fxFlex="300px"appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Apartments</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/apartment.jpg" alt="Photo of Park">
    <mat-card-subtitle>96 Apartments in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/resorts" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Resorts</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/resort.jpg" alt="Photo of Pub">
    <mat-card-subtitle>11 Resorts in you area</mat-card-subtitle>
  </mat-card>
  </section>

  <section fxLayout fxLayoutAlign="center" fxLayoutGap="50px"> 
    

  <mat-card routerLink="/search/villas"class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Villas</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/villa.jpg" alt="Photo of Restaurant">
    <mat-card-subtitle>30 Villas in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/cabins" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Cabins</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/cabin.jpg" alt="Photo of Zoo">
    <mat-card-subtitle>7 Cabins in you area</mat-card-subtitle>
  </mat-card>

  <mat-card routerLink="/search/hostels" class="example-card" fxFlex="300px" appMaterialElevation [defaultElevation]="defaultElevation" raisedElevation="16">
    <mat-card-header> 
      <mat-card-title>Hostels</mat-card-title> 
    </mat-card-header>
    <img mat-card-image  src="assets/img/hostel.jpg" alt="Photo of Coofe shop">
    <mat-card-subtitle>71 Hostels Shops in you area</mat-card-subtitle>
  </mat-card>

  </section>

  