
<mat-tab-group  fxFlexAlign="vertical" >
    <mat-tab label="General Details" fxLayoutAlign="center">
        <app-general-settings fxFlex fxFlexAlign="horizontal"></app-general-settings>
    </mat-tab>

    <mat-tab label="Email Settings">
       <app-email-settings fxFlex fxFlexAlign="horizontal"> </app-email-settings>
    </mat-tab>

    <mat-tab label="Change Password">
        <app-change-password-settings fxFlex fxFlexAlign="horizontal"> </app-change-password-settings>
    </mat-tab>

    <mat-tab label="Close Account">
        <app-close-account-settings fxFlex fxFlexAlign="horizontal"> </app-close-account-settings>
    </mat-tab>

</mat-tab-group>


