
<!-- Angular dugme primer -->

<!-- <section>
  <button mat-raised-button color="primary">Klikni na dugme</button>

    <mat-icon>home</mat-icon>
</section> -->

<!-- 

  flex kontejner definišemo> display: flex
  GLAVNA OSA> flex-direction (definise glavnu osu - main-axis), podrazumevana vrednost je row
  corss-axis - upravna osa (normalna na glavnu osu)
  justify-content pozicionira elemente u odnosu na glavnu osu
  align-items - pozicionira elemente u odnosu na upravnu osu
  fxLayout - definise da li ce biti kolona ili red (unutar template-a)
 -->

<!-- 
<section id="container">
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section>

 -->

 <mat-sidenav-container >
  
    <mat-sidenav #sidenav opened="false">
      <mat-nav-list fxLayoutGap="20px">
        <a *ngIf="logged == false" mat-list-item routerLink="/signup" (click)="sidenav.close()">
          <mat-icon>face</mat-icon>
          Signup
        </a>
        <a *ngIf="logged == false" mat-list-item routerLink="/login" (click)="sidenav.close()">
          <mat-icon>input</mat-icon>
          Login
        </a>
        
        <a *ngIf="logged == true" mat-list-item routerLink="/" (click)="sidenav.close()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </a>
        <span *ngIf="logged == true"  mat-list-item class="material-icons">
          
          <mat-select >
           
        
          <mat-option value ="booking">
            My bokings
        </mat-option>
          <mat-option value ="setting">
              Settings
          </mat-option>
         
          <mat-option value ="logout">
              Logout
          </mat-option>

          </mat-select>
          account_circle
          </span>
          My Profile
      </mat-nav-list>
     
        
    </mat-sidenav>
  
    <mat-sidenav-content fxFlex fxFlexAlign="vertical">
      <mat-toolbar color="primary" >
        <!-- Za ekrane vece od 600px nece biti vidljiva ikonica za navbar fxHide.gt-xs -->
        <div fxHide.gt-xs>
          <button mat-button color="warn" (click)="sidenav.toggle()">
          <mat-icon >menu</mat-icon>
        </button></div>
        <div>
         
          <img style="width: 150px;height: 50px; margin-top: 5px;" src="assets/img/logo.png"/>
        </div>
        
        <!-- Za manje ekrane od 600px sirine sakriva linkove fxHide.xs -->
     

        <div fxFlex fxLayoutAlign="center"  fxHide.xs> 
          
           
          <a mat-button  routerLink="/">Home</a>
          <a *ngIf="logged == false" mat-button   routerLink="/signup">Signup</a>
          <a mat-button   routerLink="/about">About us</a>
          <a *ngIf="logged == false" mat-button   routerLink="/login">Login</a>
     
          <a mat-button   routerLink="/search">Search places</a>
         
         
        </div>
        <span  *ngIf="logged" mat-list-item class="material-icons"   fxLayoutAlign="right"  fxHide.xs>
            
          <mat-select>
            <p fxLayoutAlign="center center"><mat-icon >face</mat-icon></p>
          <p fxLayoutAlign="center center">{{currentUser.firstName}}</p>
          <p fxLayoutAlign="center center">{{currentUser.email}}</p>
          <mat-option routerLink="favorites" value ="favorites"><mat-icon>stars</mat-icon> My favorites</mat-option>
         <mat-option routerLink="bookings" value ="bookings"><mat-icon>bookmarks</mat-icon> My bokings</mat-option>
          <mat-option  routerLink="settings" value ="setting"><mat-icon>settings</mat-icon>Settings</mat-option>
          <mat-option (click)="logout()"  value ="logout"><mat-icon>exit_to_app</mat-icon>Logout</mat-option>

          </mat-select>
          account_circle
          </span>
          
       
      </mat-toolbar>
      
      <router-outlet></router-outlet>
      
     <!--<app-footer></app-footer>--> 
    </mat-sidenav-content>
   
  </mat-sidenav-container>
  <!--
    Show only on first page, or if number of children on route is 0
  -->
  <section *ngIf="route.children.length === 0" fxLayoutAlign="center">
    <img  src="../assets/img/meditation.jpg" style="width: 100%;">
  </section>
  
  