
    
       
           
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)" id="email-settings-form" fxLayoutAlign="center center" fxLayout="column">
        
        <span class="material-icons">email</span>
            <mat-form-field class="form-field"  >
                <input matInput type="text" placeholder="Change Email" [formControl]="email" >
            </mat-form-field>

            


        <mat-checkbox   color="primary" ngModel name="acceptance" required>
          Yes, i want to change this data.
        </mat-checkbox>
      
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>

        

    </form>

